<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="${pageTitle}">item</title>
    <meta name="viewport"
          content="width=device-width, initial-scale=1, user-scalable=no" />
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/main.css" />
    
    
</head>
<body class="is-preload">



<!-- Wrapper -->
<div id="wrapper">

    <!-- Main -->
    
    <div id="main">
    
        <div class="inner">
			
            <!-- Header -->

            <header id="header">
             <h3>購物車</h3>
                
                <marquee direction="left" height="30" scrollamount="5" style="color:red;"></marquee>
            </header>
           
            <br>
            
            <div class="table-wrapper">
			<form method="post" action="orderAdd">
			<!-- <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/> -->
                <table class="alt">
                    <thead>
                    <tr>
                        <th class="sort"><a class="logo" href=""><strong>商品名稱</strong></a></th>
                        <th><strong>縮圖</strong></th>
                        <th><strong>規格</strong></th>
                        <th class="sort"><a class="logo" href=""><strong>單價</strong></a></th>
                        <th class="sort"><a class="logo" href=""><strong>數量</strong></a></th>
                    </tr>
                    </thead>
                    
                    <tbody>
					
                    <tr th:each="Cart:${cartVO}">
                        
                        <td style="vertical-align: middle;" width="120">
                        <input type="checkbox" th:value="${Cart.cart_id}" name="valCartId" id="cid" style="opacity:1;appearance:checkbox;margin-right:0"/>
                        
                        <strong th:text="${Cart.name}" ></strong>
                        
                        </td>

                        <td style="width: 123px; height: 124px;"><a
                                href="" class="image"><img th:src="@{${Cart.image}}"
                            alt="productIMG" height="100" /></a></td>
                        <td th:text="${Cart.spec}" style="vertical-align: middle;" width="70"></td>
                        <td th:text="${Cart.price}" style="vertical-align: middle;" width="50"></td>
                        <td th:text="${Cart.cart_Quantity}" style="vertical-align: middle;" width="70"></td>
                    </tr>
                    
                    </tbody>
                   
                </table>
                <div class="col-12">
                        <ul class="actions">
                            <li><input type="submit" value="購買" class="primary" /></li>
                            <li><input type="submit" value="刪除" formaction="/cartDelete"/></li>
                        </ul>
                    </div>
              </form>
            </div>
        </div>
    </div>

    <!-- Sidebar -->
    <div id="sidebar" th:fragment="sidebar">
        <div class="inner">

            <!-- Search -->
            <section>
                <header>
                    <h2>Shop</h2>
                </header>
            </section>

            <!-- Menu -->
            <nav id="menu">
                <header class="major">
                    <h2>Menu</h2>
                </header>
                <ul th:replace = "menu :: menu">
                    
                </ul>
            </nav>

            <!-- Footer -->
            <footer id="footer">
                
                <p class="copyright">&copy; Untitled. All rights reserved.</p>
            </footer>

        </div>
    </div>

</div>


<!-- Scripts -->
<script src="/js/jquery.min.js"></script>
<script src="/js/browser.min.js"></script>
<script src="/js/breakpoints.min.js"></script>
<script src="/js/util.js"></script>
<script src="/js/main.js"></script>

</body>
</html>