<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="${pageTitle}">item</title>
    <meta name="viewport"
          content="width=device-width, initial-scale=1, user-scalable=no" />
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" th:href="@{/css/main.css}" href="css/main.css" />
<!--
    改為使用CookieCsrfTokenRepository
    並使用src="https://cdnjs.cloudflare.com/ajax/libs/js-cookie/3.0.1/js.cookie.min.js"
    從cookie取得csrf
<meta name="_csrf" th:content="${_csrf.token}"/>
<meta name="_csrf_header" th:content="${_csrf.headerName}"/>
															-->
<!-- 用此種方式取得headerName比較不會出錯 -->															
<!--  <meta name="_csrf_header" th:content="${_csrf.headerName}"/>			-->												
</head>
<body class="is-preload">
<script src="http://code.jquery.com/jquery-latest.js"></script>
<!-- 提供JavaScript 操作Cookie內數值的簡易方法 -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/js-cookie/3.0.1/js.cookie.min.js"></script>

<!-- Wrapper -->
<div id="wrapper">

    <!-- Main -->
    <div id="main">
        <div class="inner">

            <!-- Header -->

            <header id="header">
                <strong></strong>
                <marquee direction="left" height="30" scrollamount="5"
                         style="color: red;"></marquee>
            </header>
            <br> <br>
            <h2 th:text="${product.name}">Name</h2>

            <p style="font-size: 18px;">
                <span class="image left"><img th:src="@{${product.image}}" alt="" /></span>縮圖:
                <a th:text="${product.category}"></a>
                <br>單價:<a th:text="${product.price}"></a>
                <br>庫存量:<a th:text="${product.quantity}"></a>
                <br>詳細資訊:<a th:text="${product.detail}"></a>
                <ul class="actions">
                	<li><input type="button" value="+" id="countAdd" onclick="countAdd()"></li>
                    <li><input type="text"  id="count" value="1" /></li>
                    <li><input type="button" value="-" id="countReduce" onclick="countReduce()"></li>
                    <li><input type="button" value="加入購物車" id="cartAdd" class="button big" onclick="cartAdd()"></li>
					<!-- <li><input type="button" value="加入購物車" class="button big" onclick="cartAdd()"></li>  -->
			    </ul>
           
        </div>
    </div>

    <!-- Sidebar -->
    <div id="sidebar">
        <div class="inner">

            <!-- Search -->
            <section>
                <header>
                    <h2>Shop</h2>
                </header>
            </section>

            <!-- Menu -->
            <nav id="menu">
                <header class="major">
                    <h2>Menu</h2>
                </header>
                <ul th:replace = "menu :: menu">
                    
                </ul>
            </nav>

            <!-- Footer -->
            <footer id="footer">
                <div>
                    </div>
                <p class="copyright">&copy; Untitled. All rights reserved.</p>
            </footer>

        </div>
    </div>

</div>


<!-- th:inline="javascript" 讓JS可以獲取Thymeleaf Model的值  [[${model}]] 以利下面使用-->
<script th:inline="javascript">
//改為使用CookieCsrfTokenRepository
//並使用src="https://cdnjs.cloudflare.com/ajax/libs/js-cookie/3.0.1/js.cookie.min.js"
//從cookie取得csrf
//Spring Security 需要在post加上csrf 以下是Ajax使用方法 -->
//var csrfToken = $("meta[name='_csrf']").attr("content");
//var csrfHeader = $("meta[name='_csrf_header']").attr("content");
//var csrfToken = Cookies.get('XSRF-TOKEN');

var pid= [[${product.id}]];
var account = [[${account}]];
var count = parseInt( $("#count").val());

function countAdd(){
	
	count+=1;
	$("#count").val(count);
}

function countReduce(){
	if(count<=1){
		$("#count").val(1);
	}else{
		count-=1;
		$("#count").val(count);
	}
}


function cartAdd(){
$.ajax({
	url:"/cartAdd",
	type:"POST",
	dataType:"json",
	cache:"false",
	data:{"pid":pid,
		  "account":account,
		  "count":count},
//	beforeSend: function(xhr) {
//		xhr.setRequestHeader(csrfHeader, csrfToken);
//	},
	success:function(res){
		if(res==true){
			alert("加入購物車");
		}else{
			alert("商品存貨不足");
		}
		
	}
	
})
}
</script>



<!-- Scripts -->
<script src="/js/jquery.min.js"></script>
<script src="/js/browser.min.js"></script>
<script src="/js/breakpoints.min.js"></script>
<script src="/js/util.js"></script>
<script src="/js/main.js"></script>


</body>
</html>